// 导航栏基本设置
.navShown {
	transition: opacity 1.4s;
	opacity: 1;
}

.navHidden {
	opacity: 0;
}

#navFront {

		#navBlurFront{
			width: 100%;
			height: 6.243vw;
			position: fixed;
			top: 0px;
			left: 0px;
		}
	
		#navTransFront{
			width: 100%;
			padding: 0vw 3.4vw;
			height: 6.243vw;
			position: fixed;
			background-color: transparent;
			top: 0px;
			left: 0px;
			z-index: 1000;
			@include flexBoxRow;

			#logo {
				width: 13vw;
				opacity: 0.9;
				display: flex;
				justify-content: center;
				img{
					max-width: 100%;
					width: 100%;
					height: auto;
				}
				&:hover{
					$color: rgba(255,255,255,0.7);
					transition:all 0.2s;
					filter: drop-shadow(0 0 1px $color) drop-shadow(0 0 2px $color) drop-shadow(0 0 2px $color) drop-shadow(0 0 5px $color) drop-shadow(0 0 10px $color) drop-shadow(0 0 15px lightyellow) blur(.04em);
				}
			}

			#navItemsFront{
				display: flex;
				flex-direction: row;
				justify-content: flex-end;
				align-items: stretch;
				flex-grow: 1;
				a{
					height: 1em;
					margin-bottom: 1.5%;
					margin-left: 4%;
					align-self: flex-end;
					&:hover{
						$color: rgba(255,255,255,0.7);
						transition:all 0.2s;
						filter: drop-shadow(0 0 1px $color) drop-shadow(0 0 2px $color) drop-shadow(0 0 2px $color) drop-shadow(0 0 5px $color) drop-shadow(0 0 10px $color) drop-shadow(0 0 15px lightyellow) blur(.04em);
					}
				}
				img {
					max-width: 100%;
					height: 100%;
					width: auto;
				}
			}
		}
	}