<div id="frontShow" style="background: url('{{site.frontPagePic | prepend:site.url}}') no-repeat left top/100% 100%;">
<!--	<img src="{{site.frontPagePic | prepend:site.url}}" alt="frontPagePic">-->
	<div id="frontBox">
		<h1 id="frontPageInfo">
			<p>{{site.frontPageInfo1}}</p>
			<p id="frontPageInfo2">{{site.frontPageInfo2}}</p>				
		</h1>
		<div id="frontTags">
			<div id="tagBox">
				<a href="#" id="tag">CFD</a>
				<a href="#" id="tag">Front End</a>
				<a href="#" id="tag">Neural Network</a>
				<a href="#" id="tag">Music</a>
				<a href="#" id="tag">Graphic Design</a>
				<a href="#" id="tag">Aircraft Engine</a>
				<a href="#" id="tag">Arts</a>
			</div>
		</div>
	</div>
</div>