<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="路旁有花，心中有歌，天上有星。">
  <meta name="keywords" content="Marswiz,blog,Mars">
  <meta name="author" content="Marswiz">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  {%- feed_meta -%}
  <link href="https://unpkg.zhimg.com/font-awesome@4.7.0/css/font-awesome.min.css" rel="stylesheet">

	<!-- Icons -->
	<link rel="shortcut icon" href = "{{ "/assets/pics/logo_cat.jpg" | prepend: site.baseurl }}">
	<link rel="bookmark" href = "{{ "/assets/pics/logo_cat.jpg" | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" href = "{{ "/assets/pics/logo_cat.jpg" | prepend: site.baseurl }}">
  <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>

  <!-- Vconsole -->
<!--   <script src="{{'/assets/js/vconsole.min.js'| prepend:site.url}}"></script>
  <script>
    // init vConsole
    var vConsole = new VConsole();
    console.log('Hello world');
  </script>
   -->
  <!-- Valine 评论 -->
  <script src='//unpkg.zhimg.com/valine/dist/Valine.min.js'></script>
  <!-- Hammer.js 移动手势操作库 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>

    
</head>
