<!-- 日志页移动端导航栏结构 -->

<nav id="navMobile">
	<div id="navBlur"></div>
	<div id="navTrans">
		<!-- logo -->
		<a id="logo" href="/">
			<img id='logo' src="{{site.logoBlack | prepend:site.url}}" alt="MarsWiz">
		</a>

		<!-- 导航按钮 -->
		<div id="navItems">
			<a id="blogBtn" href="{{'/blog'| prepend:site.url}}"><img src="{{site.navItemPath | prepend:site.url | append:'/blogBlack.svg'}}" alt="blog"></a>
			<a id="tagBtn" href="{{'/tags'| prepend:site.url}}"><img src="{{site.navItemPath | prepend:site.url | append:'/tagsBlack.svg'}}" alt="tags"></a>
			<a id="aboutMeBtn" href="{{'/aboutMe'| prepend:site.url}}"><img src="{{site.navItemPath | prepend:site.url | append:'/aboutMeBlack.svg'}}" alt="aboutMe"></a>
			<a id="searchBtn" href="{{'/search'| prepend:site.url}}"><img src="{{site.navItemPath | prepend:site.url | append:'/searchBlack.svg'}}" alt="search"></a>
			<a id="projectsBtn" href="{{'/projects'| prepend:site.url}}"><img src="{{site.navItemPath | prepend:site.url | append:'/projectBlack.svg'}}" alt="project"></a>
		</div>
		<div id="changeDayNight" class="fa fa-lightbulb-o"></div>
	</div>
</nav>
