@charset "utf-8";


// 定义配色
	$marsBlue:  #6cd1ef !default;
	$marsBlack: #506060 !default;
	$marsWhite: #edebdc !default;
	$marsRice:  #EDEBDC !default;
	$marsGray:  #bdb7b1 !default;


//字体字号
	$fontPath:'localhost:4000/assets/fonts/' ;
	$baseFontSize:  24pt !default;
	@font-face{
		font-family: 'Didot';
		src: url('https://marswiz.com/assets/fonts/Didot.ttf') format('truetype');
	}
	@font-face{
		font-family: '阿里巴巴普惠体';
		src: url('https://marswiz.com/assets/fonts/Alibaba-PuHuiTi-Regular.ttf') format('truetype');
	}
	@font-face{
		font-family: 'Clarendon BT';
		src: url('https://marswiz.com/assets/fonts/Clarendon_BT.ttf') format('truetype');
	}
	@font-face{
		font-family: 'TodaySB-CapExtLig';
		src: url('https://marswiz.com/assets/fonts/TodaySB-CapExtLig.otf') format('opentype');
	}
	@font-face{
		font-family: 'Poiret One';
		src: url('https://marswiz.com/assets/fonts/PoiretOne-Regular.ttf') format('truetype');
	}	
	@font-face{
		font-family: 'Memphis';
		src: url('https://marswiz.com/assets/fonts/Memphis.otf') format('opentype');
	}	
	@font-face{
		font-family: 'Folio Light';
		src: url('https://marswiz.com/assets/fonts/Folio-Light.otf') format('opentype');
	}	
	
//媒体参数
	$moblieWidth: 600px;

// 混合器
	// Flex 布局
	@mixin flexBoxRow{
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: stretch;
	}
	@mixin flexBoxCol{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: stretch;
	}


	// 媒体查询
	@mixin media-query($device) {
	  @media screen and (max-width: $device) {
	    @content;
	  }
	}

//导入
	@import 'marswiz/basic';
	@import 'marswiz/navFront';
	@import 'marswiz/navBlog';
	@import 'marswiz/frontShow';
	@import 'marswiz/frontContentBox';
	@import 'marswiz/frontPagenater';
	@import 'marswiz/footer';
	@import 'marswiz/post';
	@import 'marswiz/blog';
	@import 'marswiz/tags';
	@import 'marswiz/aboutMe';
	@import 'marswiz/search';