@charset "utf-8";


// 定义配色
	$marsBlue:  #6cd1ef !default;
	$marsBlack: #506060 !default;
	$marsWhite: #edebdc !default;
	$marsRice:  #EDEBDC !default;
	$marsGray:  #bdb7b1 !default;


//字体字号
	$fontPath:'localhost:4000/assets/fonts/' ;
	$baseFontSize:  24pt !default;

	@font-face{
		font-family: 'Didot';
		src: url('https://marswiz.com/assets/fonts/Didot.ttf') format('truetype');
	}
	@font-face{
		font-family: '阿里巴巴普惠体';
		src: url('https://marswiz.com/assets/fonts/Alibaba-PuHuiTi-Regular.ttf') format('truetype');
	}
	@font-face{
		font-family: 'Clarendon BT';
		src: url('https://marswiz.com/assets/fonts/Clarendon_BT.ttf') format('truetype');
	}
	@font-face{
		font-family: 'TodaySB-CapExtLig';
		src: url('https://marswiz.com/assets/fonts/TodaySB-CapExtLig.otf') format('opentype');
	}
	@font-face{
		font-family: 'Poiret One';
		src: url('https://marswiz.com/assets/fonts/PoiretOne-Regular.ttf') format('truetype');
	}	
	@font-face{
		font-family: 'Memphis';
		src: url('https://marswiz.com/assets/fonts/Memphis.otf') format('opentype');
	}	
	@font-face{
		font-family: 'Folio Light';
		src: url('https://marswiz.com/assets/fonts/Folio-Light.otf') format('opentype');
	}

//日志图片大小(单位vw)
	$postImgWidth: 30;
	
//媒体参数
	$moblieWidth: 600px;

// 混合器
	// Flex 布局
	@mixin flexBoxRow{
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: stretch;
	}
	@mixin flexBoxCol{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: stretch;
	}


	// 媒体查询
	@mixin media-query($device) {
	  @media screen and (max-width: $device) {
	    @content;
	  }
	}

	@mixin media-query-over($device) {
	  @media screen and (min-width: $device) {
	    @content;
	  }
	}

//导入
// 响应式：PC端
	@media screen and (min-width: 1601px) {
		@import 'marswiz/pc/basic';
		@import 'marswiz/pc/navFront';
		@import 'marswiz/pc/navBlog';
		@import 'marswiz/pc/frontShow';
		@import 'marswiz/pc/frontContentBox';
		@import 'marswiz/pc/frontPagenater';
		@import 'marswiz/pc/footer';
		@import 'marswiz/pc/post';
		@import 'marswiz/pc/blog';
		@import 'marswiz/pc/tags';
		@import 'marswiz/pc/aboutMe';
		@import 'marswiz/pc/search';
		@import 'marswiz/pc/navMobile';
	}

// 响应式：Laptop
	@media screen and (min-width: 769px) and (max-width: 1600px){
		@import 'marswiz/laptop/basic';
		@import 'marswiz/laptop/navFront';
		@import 'marswiz/laptop/navBlog';
		@import 'marswiz/laptop/frontShow';
		@import 'marswiz/laptop/frontContentBox';
		@import 'marswiz/laptop/frontPagenater';
		@import 'marswiz/laptop/footer';
		@import 'marswiz/laptop/post';
		@import 'marswiz/laptop/blog';
		@import 'marswiz/laptop/tags';
		@import 'marswiz/laptop/aboutMe';
		@import 'marswiz/laptop/search';
		@import 'marswiz/laptop/navMobile';
	}

// 响应式：移动端
	@media screen and (max-width: 768px) {
		@import 'marswiz/mobile/basic';
		@import 'marswiz/mobile/navFront';
		@import 'marswiz/mobile/navBlog';		
		@import 'marswiz/mobile/frontShow';

		@import 'marswiz/mobile/frontContentBox';
		@import 'marswiz/mobile/frontPagenater';
		@import 'marswiz/mobile/footer';
		@import 'marswiz/mobile/post';
		@import 'marswiz/mobile/blog';
		@import 'marswiz/mobile/tags';
		@import 'marswiz/mobile/aboutMe';
		@import 'marswiz/mobile/search';
		@import 'marswiz/mobile/navMobile';
	}