#blogs{

	width: 79.5vw;
	min-height: 52.725vw;
	margin: 5vw 5vw 5vw 16.4vw;

	.blogYear{
		cursor: pointer;
		font-family: Poiret One;
		font-size: 2em;
		margin-left: -1.28em;
		margin-top: 0.5em;
		&:hover{
			
		}
		&:active{
			color: $marsBlue;
		}
	}
	a{
		width:100%;
		text-decoration:none;
		color: $marsBlack;
		&:hover{

		}
		&:active{
			color: $marsBlue;
		}
		#blogBox{
			line-height:1.3em;
			font-family: 'Memphis','阿里巴巴普惠体';
			@include flexBoxRow;
			justify-content: space-between;
		}
	}
}