#searchBox{
	@include flexBoxRow;
	margin: 11vw 10vw 3vw 10vw;
	padding: 0 1em;
	align-items: stretch;
	width:80%;
	height: 3em;
	border: solid 0.2em $marsBlue;
	border-radius: 1.5em;
	color: $marsBlack;
	background-color: white;
	font-family:'阿里巴巴普惠体';

	#searchInput{
		border: none;
		width:100%;		
		background-color: transparent;
		font-size: 1em;
		opacity: 0.3;
		&:focus{
			outline: none;
			opacity:1;
			color: $marsBlack;
		}
	}

	span{
		display: flex;
		font-size: 1.5em;
		justify-content: center;
		align-items: center;
		opacity: 0.3;
		&:hover{
			cursor: pointer;
			opacity: 1;
		}
	}
}

#totalBlogBox{
	display:none;
}

#searchResultContentBox{
	width: 100%;
	padding-top: 5vw;
	padding-left: 5vw;
	padding-right: 5vw;
	padding-bottom:5vw;
	
	#noResultContent{
		@include flexBoxRow;
		font-family:'阿里巴巴普惠体','微软雅黑',sans-serif;
		padding-bottom: 5vw;
		width:100%;
		height:10vw;
		justify-content: center;
		align-items:center;
		display:none;
		
		p{
			width:50%;
			color: black;
			font-size: 1.5em;
		}
	}

	#searchResultList {
		list-style: none;
		#searchBlogBox{
			display: none;
			padding-left: 3.4vw;
			margin-bottom: 1.5em;
			#link{
				text-decoration: none;
				color: $marsBlack;

				&:hover{
					color: $marsBlue;
					.searchPostTags{
						border: dashed 1px $marsBlue !important;
					}
				}

				.searchPostLink{
					font-family: Clarendon BT;
					text-decoration: none;
				}

				#searchPostInfo{
					display: none;
				}

				#searchPostInfoMobile{
					@include flexBoxCol;
					// flex-wrap: wrap;
					align-items: flex-start;
					width: 100%;
					margin-top: 0.2em;
					.searchPostDateMobile{
						display: block;
						text-align:center;
						line-height: 1em;
						font-family: Folio Light;
						font-size: 0.6em;
					}

					#searchTagBox{
						@include flexBoxRow;
						flex-wrap: wrap;
						margin-top: 0.2em;
					}

					#searchPostTagsMobile {
						display:inline;
						font-family: Folio Light;
						font-size: 0.6em;
						padding: 0 0.2em;
						margin-right: 3pt;
						margin-top: 0.2em;
						border:dashed 1px $marsBlack;
						border-radius: 0.5em;
					}					
				}

				#searchBlogPreview{
					font-size: 0.6em;
					margin-top: 0.5em;
					font-family: Folio Light;
				}	
			}		
		}

		#searchBlogBox{
			border-left: solid 0.7em transparentize(silver, 0.65);
			border-radius: 6px 0 0 6px;
		}
	}
}