/**
 * 重置基本元素
 */
	body, h1, h2, h3, h4, h5, h6,
	p, blockquote, pre, hr,
	dl, dd, ol, ul, figure{
	  margin: 0 ; 
	  padding: 0 ;
	}

// 响应式设定
	*{
		box-sizing: border-box;	
	}

// 设置基本字号
	body {	
		display: block;
		width: 100%;
		font-size: $baseFontSize;
		color: $marsBlack;
	}	


// main元素基本设置
	main {
		@include flexBoxCol;
		#logoBoxBlog{
			display: none;
		}
	}

	#toTop{
		@include flexBoxRow;
		justify-content:center;
		align-items:center;
		text-decoration: none;
		position:fixed;
		font-size: 1.5em;
		width:1.5em;
		height: 1.5em;
		right:0;
		bottom: 0;
		color: $marsBlack;
		opacity: 0.3;
		&:hover{
			color: $marsBlue;
			opacity: 1;
			transform: rotate(-359deg);
			transition: transform 1s;
		}
	}


