<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'zh-CN' }}">

  {%- include head.html -%}

  <body>

    {%- include navBlog.html -%}
    {%- include navMobile.html -%}

    <main id="mainBox" aria-label="Content">

      <!-- 移动端页面标题 -->
  <!--   <a id="logoBoxBlog" href="/">
      <img id='logo' src="{{site.logoBlack | prepend:site.url}}" alt="MarsWiz">
    </a> -->
<!--  -->
      {{ content }}

    </main>

    {%- include footerBlog.html -%}

    <!-- 回到页首按钮 -->
    <a href="#mainBox" class="fa fa-rocket" id="toTop"></a>

  </body> 
  <script>
		blogYearFunc();
    if (window.innerWidth >= 769){
      document.querySelector('#navBlog').style.display = 'block';
    }		
  </script> 

  {%- if page.nav -%}
	<script>
    if (window.innerWidth > 768){
  		let btnColor = document.querySelector('#navBlog #navTrans #navItems #{{page.nav}}Btn img').src.replace(/Black/,'Blue');
  		document.querySelector('#navBlog #navTrans #navItems #{{page.nav}}Btn img').src = btnColor;
  		document.querySelector('#{{page.nav}}Btn img').removeEventListener('mouseout',blueToBlack,false);
    } else {
      let btnColor = document.querySelector('#navMobile #navTrans #navItems #{{page.nav}}Btn img').src.replace(/Black/,'Blue');
      document.querySelector('#navMobile #navTrans #navItems #{{page.nav}}Btn img').src = btnColor;
    }
	</script>
  {%- endif -%}

  {%- if page.nav == 'tag' -%}
    <script src="{{'/assets/js/tag.js' | prepend:site.url}}"></script>
  {%- endif -%}

  {%- if page.nav == 'search' -%}
    <script src="{{'/assets/js/search.js' | prepend:site.url}}"></script>
  {%- endif -%}

</html>


